<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <dominate_erpconnector>
            <api>
                <endpoint>https://connector.dominate.co/api/m2</endpoint>
            </api>
        </dominate_erpconnector>
    </default>
</config>
